@import "palette";

$black:    $gruv-fg0;
$gray-900: $gruv-fg1;
$gray-800: $gruv-fg2;
$gray-700: $gruv-fg3;
$gray-600: $gruv-fg4;
$gray-500: $gruv-bg4;
$gray-400: $gruv-bg2;
$gray-300: $gruv-bg1;
$gray-200: $gruv-bg0;
$gray-100: $gruv-bg0-h;
$white:    #000;

$body-color: $gray-900;
$body-bg: $gray-200;
$secondary: $gray-400;
$card-bg: $gray-300;

$form-range-track-bg: $gray-400;

$blue:    $gruv-blue;
$indigo:  #6610f2;
$purple:  $gruv-purple;
$pink:    $gruv-bright-red;
$red:     #dc3545;
$orange:  $gruv-orange;
$yellow:  $gruv-yellow;
$green:   $gruv-green;
$teal:    $gruv-aqua;
$cyan:    $gruv-bright-aqua;

$link-hover-color: lighten($blue, 10);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);


@font-face {
  font-family: 'Noto Sans Phoenician Local';
  src: url('../assets/paleohebrewfonts/NotoSansPhoenicianRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@import "@fontsource/literata/latin";
@import "@fontsource/permanent-marker/latin";

$font-family-base: "Literata";


@import "bootstrap/scss/bootstrap";

